body {
  margin: auto;
  width: 100%;
  font-size: 1em;
  background-color: #fefffe;
  color: #3b4456;
  font-family: Helvetica, sans-serif;
}

header {
  width: 100%;
  text-align: center;
}

image {
  size: auto;
  max-width: 100%;
  max-height: 100%;
}

#laser_img {
  width: 60%;
  background: white;
  margin: 1em 0;
}

h1 {
  color: #252b37;
  text-align: center;
  font-size: 2.6em;
}

h2 {
  color: #252b37;
}

h3 {
  font-size: 1.5rem;
}

h5 {
  font-weight: normal;
  font-size: 1rem;
}

h6 {
  font-weight: normal;
  font-size: 0.85rem;
}

.Intro {
  border-top: solid;
  border-color: #3b4456;
  border-width: 10px;
  border-radius: 10px;
  margin: auto;
  background-color: #e9eff8;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* .chart{
    margin: auto
    width: 5%;
    float: right;
} */
.visible {
  display: block;
}

.invisible {
  display: none;
}

.flex {
  display: flex;
}

.first {
  margin-right: 1em;
}

input,
label {
  display: block;
}

p input,
label input {
  display: inline;
}

.col_form {
  flex: 0 0 40%;
  max-width: 40%;
  padding-left: 2rem;
}

.col_graph {
  flex: 0 0 60%;
  max-width: 60%;
  padding-left: 5em;
}

.bottomRowflex {
  position: relative;
  padding: 0;
  margin: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.col_leftButtons {
  flex: 0 0 65%;
}

.col_rightButtons {
  flex: 1;
}

.col_leftGraph {
  flex: 1 1 0px;
}

.col_rightTable {
  position: relative;
  flex: 1 1 0px;
  left: -150px;
}

.col_pagination {
  display: flex;
  margin: 1px;
  padding: 5px;
}

.col_clearAllbutton {
  position: absolute;
  top: 0;
  right: 0;
}

#state_laser,
#state_3dprint {
  margin-top: 1em;
}

/* ['#837BE7', '#E6BDF2', '#F97494', '#FD9F82'] */
.manufacturing {
  background: rgba(131, 123, 231, 0.5);
  padding: 1em;
  position: relative;
}

.transportation {
  background: rgba(230, 189, 242, 0.5);
  padding: 1em;
  position: relative;
}

.fabrication {
  background: rgba(249, 116, 148, 0.5);
  padding: 1em;
  position: relative;
}

.end_life {
  background: rgba(253, 159, 130, 0.5);
  padding: 1em;
  position: relative;
}

.rawHeader {
  background-color: rgb(123, 124, 231);
  justify-content: center;
}

.transpHeader {
  background-color: rgb(230, 189, 242);
  justify-content: center;
}

.digHeader {
  background-color: rgb(249, 116, 148);
  justify-content: center;
}

.endHeader {
  background-color: rgb(253, 159, 130);
  justify-content: center;
}

.question {
  margin: 1em 0;
}

.exclamation {
  border: 1px solid red;
  padding: 0 7px;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  color: red;
}

.textbox {
  color: red;
  position: absolute;
  left: 100%;
  top: 0;
  padding: 1rem 0.5rem 1rem 1rem;
  margin-left: 1rem;
  z-index: 2;
  width: 80%;
  background: #e9eff8;
  font-size: 0.85em;
}

.textbox .good {
  color: #3b4456;
}

.exclamation.good {
  color: #3b4456;
  border-color: #3b4456;
}

.textbox button {
  color: black;
  position: absolute;
  right: 8px;
  top: 2px;
  cursor: pointer;
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  font-weight: normal;
}

.textbox button:hover {
  border: none;
}

.button {
  margin: 3em auto;
}

button {
  padding: 5px 10px;
  border: none;
  background: #e9eff8;
  border-radius: 1px;
}

button[type="submit"] {
  background: #e9eff8;
}

button[type="next"] {
  float: right;
}

button:hover {
  /* text-decoration: underline; */
  border: 1px solid #3b4456;
}

button.link {
  background: none;
  border: none;
}

.selectedButton {
  text-decoration: underline;
  pointer-events: none;
}

a {
  color: #b4b8c5;
  text-decoration: underline;
}

ul {
  display: flex;
  list-style: none;
}

#chart_div_energy,
#chart_div_co2 {
  position: relative;
  left: -100px;
  top: -20px;
  z-index: -1;
}

#original {
  position: absolute;
  z-index: 2;
  top: 220px;
  left: 575px;
  width: 190px;
  color: #757575;
  font-size: 0.85rem;
}

/* a:hover {
  text-decoration: line-through;
} */
#next {
  padding: 10px 20px;
  border: 2px solid #3b4456;
  background: #e9eff8;
  border-radius: 5px;
}

.next:hover {
  text-decoration: underline;
}

p1 {
  color: #b4b8c5;
}

nav {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

nav ul li {
  width: 25%;
  line-height: 40px;
  height: 46px;
  background: #e9eff8;
  border-top: 5px solid #3b4456;
  height: 40px;
  text-align: center;
  border-radius: 5px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  box-shadow: none;
  border: 1px solid #3b4456;
  background: #e9eff8;
  padding: 0 0.5em;
  line-height: 2;
  width: 200px;
}

.input-field {
  border: 1px solid #3b4456;
  background: #fefffe;
  padding: 0 0.5em;
  line-height: 2;
  border-radius: 0.25em;
  width: 182px;
}

/* #firstname, #lastname {
  background: #fefffe;
  width: 182px;
} */
/* .slidecontainer{
    padding: 0 40px;
} */
.slider {
  -webkit-appearance: none;
  width: 400px;
  height: 10px;
  border-radius: 7px;
  background: #e9eff8;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border: 1px solid #3b4456;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #3b4456;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #3b4456;
  cursor: pointer;
}

p2 {
  padding-left: 10px;
  font-weight: bold;
}

#chartdiv {
  width: 100%;
  height: 500px;
}

div.ag-theme-alpine div.ag-row {
  font-size: 12px !important;
}
